.Home {
    width: 100%;
   
}

.Home__Img {
    width: 200px;
}
.Home__Container {
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.Home__Container__Recipients {
    color: #ffffff;
    font-size: 30px;
    margin-bottom: 20px;
    text-align: left;
    width: 100%;
}

#emailForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.Home__Container__Names__Email__Recipients {
display: flex;
width: 100%;
justify-content: space-between;
align-items: center;
}

.Recipients__Name , 
.Recipients__Email {
    width: 49%;
    display: flex
    ;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 49%;
        border: 2px solid rgb(0, 255, 217);
        padding: 10px 20px;
        border-radius: 10px;
}

.Recipients__Email__h3 , 
.Recipients__Name__h3 {
    font-size: 18px;
    margin: 10px 0;
    width: 100%;
    color: #275d54;
}

#first_name_list ,
#email_list {
    resize: none;
    width: 100%;
    height: 100px;
    padding: 10px;
    border: 0;
    outline: 0;
    border: 2px solid rgb(0 255 217);
    border-radius: 10px;
    background: #ebebeb;
}
#first_name_list::placeholder , 
#email_list::placeholder  {
    font-size: 15px;
}
#first_name_list:focus::placeholder ,  
#email_list:focus::placeholder   {
    opacity: 0;
}
#first_name_list:focus , 
#email_list:focus  {
    /* color: var( --white-color); */
    font-size: 15px;
}

.Home__Container__From__To {
    font-size: 30px;
    width: 100%;
    color: #ffffff;
    margin: 20px 0;
}
.Home__Container__From__To__Container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.Home__Container__From__To__Container__From ,
.Home__Container__From__To__Container__To {
    display: flex
;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 49%;
    border: 2px solid rgb(0, 255, 217);
    padding: 10px 20px;
    border-radius: 10px;
}
.Home__Container__From__To__Container__From input , 
.Home__Container__From__To__Container__To input  {
    width: 100%;
    height: 40px;
    padding: 10px;
    border: 0;
    outline: 0;
    /* background-color: #292f36; */
    border :2px solid rgb(0, 255, 217);
    border-radius: 10px;
    margin-bottom: 10px;
    background: #ebebeb;
}

.Home__Container__From__Name ,
.Home__Container__To__Name  {
    color: rgb(39 93 84);;
    font-size: 18px;
    margin: 10px 0 20px;
    width: 100%;
}

.Home__Container__From__To__Container__From input::placeholder , 
.Home__Container__From__To__Container__To input::placeholder  { 
    font-size: 15px;
 }
.Home__Container__From__To__Container__From input:focus::placeholder , 
.Home__Container__From__To__Container__To input:focus::placeholder  { 
    opacity: 0;
 }
.Home__Container__From__To__Container__From input:focus, 
.Home__Container__From__To__Container__To input:focus  { 
    /* color: var( --white-color); */
    font-size: 15px;
 }

 .Home__Container__Title__Email {
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
 }
 .Home__Container__Title__Email input {
    width: 100%;
    height: 100px;
    padding: 10px;
    border: 0;
    outline: 0;
    /* background-color: #292f36; */
    border: 2px solid rgb(0 255 217);
    border-radius: 10px;
    margin-bottom: 10px;
    background: #ebebeb;
 }
 .Home__Container__Title__Email input::placeholder , 
 .Home__Container__Title__Email textarea::placeholder  {
    font-size: 15px;
}
.Home__Container__Title__Email input:focus , 
.Home__Container__Title__Email textarea:focus  {
    /* color: var( --white-color); */
    font-size: 15px;
}
.Home__Container__Title__Email input:focus::placeholder ,
.Home__Container__Title__Email textarea:focus::placeholder {
     opacity: 0;

 }
 .Home__Container__Title__Email textarea {
    width: 100%;
    height: 100px;
    resize: 0;
    padding: 10px;
    border: 0;
    outline: 0;
    resize: none;
    /* background-color: #292f36; */
    border: 2px solid rgb(0 255 217);
    border-radius: 10px;
    margin-bottom: 10px;
    background: #ebebeb;
 }

 .Home__Container__Chosse__File {
width: 100%;
display: flex;flex-direction: column;
align-items: center;
justify-content: center;
 }

 .Home__Container__Chosse__File input {
background-color: #292f36;
color: #ffffff;
width: 100%;
height: 45px;
border-radius: 10px;
 padding: 10px;
 border: 2px solid #00ffd9;
}
 

 .Home__Container__Chosse__File input #file-upload-button {

 }

 .Home__Container__Send__Button {
    width: 100%;
 }
 .Home__Container__Send__Button button {
    width: 100%;
    margin-top: 10px;
    border: 0;
     outline: 0;
     padding: 10px;
     border-radius: 10px;
     color: #ffffff;
     background-color: #4caf50;
     border: 2px solid #4caf50;
     transition: 0.3s;
     font-size: 18px;
 }
 .Home__Container__Send__Button button:hover {
    background-color: transparent;
 }

.Home__Container__Title__Email__Email , 
.Home__Container__Title__Email__Message {
    display: flex
    ;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 49%;
        border: 2px solid rgb(0, 255, 217);
        padding: 10px 20px;
        border-radius: 10px;
}